<div class="container mt-4">
    <div align="center" class="form-group">
        <h2>Criar</h2>
    </div>

    <form method="POST" action="/direcao/cadastrar/disciplina">
        <div class="form-group">
            <label for="inputAddress">Nome</label>
            <input type="text" class="form-control" name="nome" placeholder="João da Neves">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Nascimento</label>
            <input type="text" class="form-control" name="criacao" placeholder="30/03/1997">
        </div>
        <button type="submit" class="btn btn-primary">Criar</button>
    </form>
</div>